.comment{"data-id": message.id }
  %h4.comment__user-name
    = message.user.name
  %ul.comment__date.clearfix
    %li
      = message.create_date
  - if message.content.present?
    %p.comment__text
      = message.content
  = image_tag message.image.url if message.image.present?

